<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.police.alarm.mapper.AlarmRecordMapper">

    <select id="selectPage" resultType="com.police.alarm.entity.AlarmRecord">
        SELECT * FROM alarm_record
        WHERE is_deleted = 0
        <if test="q.status != null">
            AND status = #{q.status}
        </if>
        <if test="q.alarmType != null and q.alarmType != ''">
            AND alarm_type = #{q.alarmType}
        </if>
        <if test="q.urgencyLevel != null">
            AND urgency_level = #{q.urgencyLevel}
        </if>
        <if test="q.startDate != null">
            AND DATE(alarm_time) &gt;= #{q.startDate}
        </if>
        <if test="q.endDate != null">
            AND DATE(alarm_time) &lt;= #{q.endDate}
        </if>
        ORDER BY alarm_time DESC
    </select>

</mapper>
